.pkm-delta {
  transform: scale(0.5);
}
.pkm-delta.pkm-delta-hoopa {
  background-position: -11px -12px;
  width: 41px;
  height: 41px;
}
.pkm-delta.pkm-delta-meloetta {
  background-position: -82px -14px;
  width: 31px;
  height: 47px;
}
.pkm-delta.pkm-delta-registeel {
  background-position: -140px -15px;
  width: 43px;
  height: 47px;
}
.pkm-delta.pkm-delta-regice {
  background-position: -208px -11px;
  width: 37px;
  height: 49px;
}
.pkm-delta.pkm-delta-regirock {
  background-position: -268px -13px;
  width: 43px;
  height: 47px;
}
.pkm-delta.pkm-delta-goodra {
  background-position: -328px -7px;
  width: 49px;
  height: 51px;
}
.pkm-delta.pkm-delta-sliggoo {
  background-position: -399px -9px;
  width: 35px;
  height: 47px;
}
.pkm-delta.pkm-delta-goomy {
  background-position: -466px -21px;
  width: 27px;
  height: 31px;
}
.pkm-delta.pkm-delta-aurorus {
  background-position: -520px -4px;
  width: 49px;
  height: 57px;
}
.pkm-delta.pkm-delta-amaura {
  background-position: -591px -8px;
  width: 35px;
  height: 50px;
}
.pkm-delta.pkm-delta-volcarona {
  background-position: -646px -8px;
  width: 59px;
  height: 53px;
}
.pkm-delta.pkm-delta-larvesta {
  background-position: -718px -26px;
  width: 41px;
  height: 31px;
}
.pkm-delta.pkm-delta-hydreigon {
  background-position: -772px -8px;
  width: 55px;
  height: 47px;
}
.pkm-delta.pkm-delta-zweilous {
  background-position: -842px -10px;
  width: 47px;
  height: 45px;
}
.pkm-delta.pkm-delta-deino {
  background-position: -912px -18px;
  width: 35px;
  height: 35px;
}
.pkm-delta.pkm-delta-heatmor {
  background-position: -960px -13px;
  width: 61px;
  height: 47px;
}
.pkm-delta.pkm-delta-golurk {
  background-position: -1030px -5px;
  width: 53px;
  height: 55px;
}
.pkm-delta.pkm-delta-golett {
  background-position: -1102px -15px;
  width: 37px;
  height: 43px;
}
.pkm-delta.pkm-delta-haxorus {
  background-position: -1158px -1px;
  width: 53px;
  height: 59px;
}
.pkm-delta.pkm-delta-fraxure {
  background-position: -1230px -9px;
  width: 43px;
  height: 51px;
}
.pkm-delta.pkm-delta-axew {
  background-position: -1298px -19px;
  width: 35px;
  height: 41px;
}
.pkm-delta.pkm-delta-chandelure {
  background-position: -1345px -8px;
  width: 63px;
  height: 53px;
}
.pkm-delta.pkm-delta-lampent {
  background-position: -1422px -9px;
  width: 37px;
  height: 51px;
}
.pkm-delta.pkm-delta-litwick {
  background-position: -1482px -12px;
  width: 49px;
  height: 49px;
}
.pkm-delta.pkm-delta-amoonguss {
  background-position: -1548px -10px;
  width: 41px;
  height: 49px;
}
.pkm-delta.pkm-delta-foongus {
  background-position: -1616px -16px;
  width: 29px;
  height: 37px;
}
.pkm-delta.pkm-delta-escavalier {
  background-position: -1672px -12px;
  width: 47px;
  height: 49px;
}
.pkm-delta.pkm-delta-karrablast {
  background-position: -1748px -17px;
  width: 25px;
  height: 41px;
}
.pkm-delta.pkm-delta-emolga {
  background-position: -1802px -17px;
  width: 33px;
  height: 41px;
}
.pkm-delta.pkm-delta-cofagrigus {
  background-position: -1858px -10px;
  width: 61px;
  height: 51px;
}
.pkm-delta.pkm-delta-yamask {
  background-position: -1930px -23px;
  width: 45px;
  height: 33px;
}
.pkm-delta.pkm-delta-crustle-cake {
  background-position: -1987px -7px;
  width: 55px;
  height: 51px;
}
.pkm-delta.pkm-delta-dwebble-cake {
  background-position: -2062px -19px;
  width: 39px;
  height: 39px;
}
.pkm-delta.pkm-delta-crustle-berry {
  background-position: -2114px -11px;
  width: 63px;
  height: 49px;
}
.pkm-delta.pkm-delta-dwebble-berry {
  background-position: -2190px -21px;
  width: 41px;
  height: 37px;
}
.pkm-delta.pkm-delta-maractus {
  background-position: -2244px -12px;
  width: 51px;
  height: 47px;
}
.pkm-delta.pkm-delta-darmanitan {
  background-position: -2306px -8px;
  width: 59px;
  height: 51px;
}
.pkm-delta.pkm-delta-darumaka {
  background-position: -2382px -18px;
  width: 37px;
  height: 37px;
}
.pkm-delta.pkm-delta-reuniclus {
  background-position: -2432px -15px;
  width: 63px;
  height: 47px;
}
.pkm-delta.pkm-delta-duosion {
  background-position: -2506px -11px;
  width: 41px;
  height: 53px;
}
.pkm-delta.pkm-delta-solosis {
  background-position: -2576px -23px;
  width: 37px;
  height: 35px;
}
.pkm-delta.pkm-delta-lilligant-fairy {
  background-position: -2628px -21px;
  width: 59px;
  height: 39px;
}
.pkm-delta.pkm-delta-petilil-fairy {
  background-position: -2692px -11px;
  width: 53px;
  height: 51px;
}
.pkm-delta.pkm-delta-lilligant-water {
  background-position: -2766px -15px;
  width: 35px;
  height: 49px;
}
.pkm-delta.pkm-delta-petilil-water {
  background-position: -2836px -19px;
  width: 27px;
  height: 43px;
}
.pkm-delta.pkm-delta-scolipede {
  background-position: -2886px -16px;
  width: 59px;
  height: 45px;
}
.pkm-delta.pkm-delta-whirlipede {
  background-position: -2960px -26px;
  width: 33px;
  height: 33px;
}
.pkm-delta.pkm-delta-venipede {
  background-position: -3023px -28px;
  width: 35px;
  height: 29px;
}
.pkm-delta.pkm-delta-toxicroak {
  background-position: -3082px -19px;
  width: 43px;
  height: 41px;
}
.pkm-delta.pkm-delta-croagunk {
  background-position: -3150px -25px;
  width: 35px;
  height: 35px;
}
.pkm-delta.pkm-delta-lucario {
  background-position: -3216px -13px;
  width: 33px;
  height: 47px;
}
.pkm-delta.pkm-delta-riolu {
  background-position: -3278px -21px;
  width: 31px;
  height: 37px;
}
.pkm-delta.pkm-delta-lopunny {
  background-position: -3334px -15px;
  width: 51px;
  height: 45px;
}
.pkm-delta.pkm-delta-buneary {
  background-position: -3410px -23px;
  width: 31px;
  height: 37px;
}
.pkm-delta.pkm-delta-metagross-ruin {
  background-position: -3456px -15px;
  width: 65px;
  height: 45px;
}
.pkm-delta.pkm-delta-metang-ruin {
  background-position: -3598px -21px;
  width: 39px;
  height: 41px;
}
.pkm-delta.pkm-delta-beldum-ruin {
  background-position: -3522px -15px;
  width: 55px;
  height: 45px;
}
.pkm-delta.pkm-delta-metagross-spider {
  background-position: -3648px -10px;
  width: 65px;
  height: 51px;
}
.pkm-delta.pkm-delta-metang-spider {
  background-position: -3716px -12px;
  width: 57px;
  height: 49px;
}
.pkm-delta.pkm-delta-beldum-spider {
  background-position: -3788px -20px;
  width: 39px;
  height: 41px;
}
.pkm-delta.pkm-delta-gorebyss {
  background-position: -3846px -17px;
  width: 55px;
  height: 43px;
}
.pkm-delta.pkm-delta-huntail {
  background-position: -3906px -11px;
  width: 57px;
  height: 49px;
}
.pkm-delta.pkm-delta-clamperl {
  background-position: -3982px -19px;
  width: 39px;
  height: 39px;
}
.pkm-delta.pkm-delta-milotic {
  background-position: -4036px -16px;
  width: 57px;
  height: 45px;
}
.pkm-delta.pkm-delta-feebas {
  background-position: -4112px -14px;
  width: 35px;
  height: 43px;
}
.pkm-delta.pkm-delta-wailord {
  background-position: -4162px -8px;
  width: 61px;
  height: 55px;
}
.pkm-delta.pkm-delta-wailmer {
  background-position: -4232px -20px;
  width: 55px;
  height: 41px;
}
.pkm-delta.pkm-delta-minun {
  background-position: -4304px -16px;
  width: 33px;
  height: 39px;
}
.pkm-delta.pkm-delta-plusle {
  background-position: -4368px -12px;
  width: 35px;
  height: 43px;
}
.pkm-delta.pkm-delta-camerupt {
  background-position: -4418px -4px;
  width: 63px;
  height: 55px;
}
.pkm-delta.pkm-delta-numel {
  background-position: -4492px -21px;
  width: 39px;
  height: 37px;
}
.pkm-delta.pkm-delta-medicham {
  background-position: -4557px -14px;
  width: 37px;
  height: 45px;
}
.pkm-delta.pkm-delta-meditite {
  background-position: -4622px -15px;
  width: 37px;
  height: 45px;
}
.pkm-delta.pkm-delta-aggron {
  background-position: -4746px -24px;
  width: 47px;
  height: 35px;
}
.pkm-delta.pkm-delta-lairon {
  background-position: -4676px -10px;
  width: 59px;
  height: 51px;
}
.pkm-delta.pkm-delta-aron {
  background-position: -4816px -28px;
  width: 33px;
  height: 27px;
}
.pkm-delta.pkm-delta-mawile {
  background-position: -4870px -9px;
  width: 47px;
  height: 49px;
}
.pkm-delta.pkm-delta-sableye {
  background-position: -4938px -12px;
  width: 49px;
  height: 47px;
}
.pkm-delta.pkm-delta-shiftry {
  background-position: -5000px -10px;
  width: 55px;
  height: 49px;
}
.pkm-delta.pkm-delta-nuzleaf {
  background-position: -5072px -16px;
  width: 37px;
  height: 43px;
}
.pkm-delta.pkm-delta-seedot {
  background-position: -5136px -22px;
  width: 31px;
  height: 35px;
}
.pkm-delta.pkm-delta-ludicolo {
  background-position: -5186px -3px;
  width: 57px;
  height: 57px;
}
.pkm-delta.pkm-delta-lombre {
  background-position: -5260px -7px;
  width: 45px;
  height: 53px;
}
.pkm-delta.pkm-delta-lotad {
  background-position: -5328px -19px;
  width: 37px;
  height: 37px;
}
.pkm-delta.pkm-delta-magmortar {
  background-position: -5384px -22px;
  width: 43px;
  height: 37px;
}
.pkm-delta.pkm-delta-magmar {
  background-position: -5452px -18px;
  width: 37px;
  height: 41px;
}
.pkm-delta.pkm-delta-magby {
  background-position: -5520px -16px;
  width: 33px;
  height: 45px;
}
.pkm-delta.pkm-delta-electivire {
  background-position: -5574px -13px;
  width: 55px;
  height: 47px;
}
.pkm-delta.pkm-delta-electabuzz {
  background-position: -5642px -17px;
  width: 49px;
  height: 43px;
}
.pkm-delta.pkm-delta-elekid {
  background-position: -5706px -21px;
  width: 47px;
  height: 39px;
}
.pkm-delta.pkm-delta-octillery {
  background-position: -5773px -17px;
  width: 43px;
  height: 43px;
}
.pkm-delta.pkm-delta-remoraid {
  background-position: -5839px -22px;
  width: 35px;
  height: 35px;
}
.pkm-delta.pkm-delta-shuckle {
  background-position: -5896px -11px;
  width: 49px;
  height: 45px;
}
.pkm-delta.pkm-delta-dunsparce {
  background-position: -5962px -30px;
  width: 45px;
  height: 31px;
}
.pkm-delta.pkm-delta-girafarig {
  background-position: -6029px -11px;
  width: 45px;
  height: 45px;
}
.pkm-delta.pkm-delta-yanmega {
  background-position: -6080px -10px;
  width: 61px;
  height: 47px;
}
.pkm-delta.pkm-delta-yanma {
  background-position: -6146px -8px;
  width: 61px;
  height: 45px;
}
.pkm-delta.pkm-delta-ambipom {
  background-position: -6208px -0px;
  width: 65px;
  height: 63px;
}
.pkm-delta.pkm-delta-aipom {
  background-position: -6280px -12px;
  width: 49px;
  height: 43px;
}
.pkm-delta.pkm-delta-raichu {
  background-position: -6338px -0px;
  width: 63px;
  height: 63px;
}
.pkm-delta.pkm-delta-pikachu {
  background-position: -6414px -12px;
  width: 45px;
  height: 41px;
}
.pkm-delta.pkm-delta-pichu {
  background-position: -6482px -12px;
  width: 35px;
  height: 35px;
}
.pkm-delta.pkm-delta-lanturn {
  background-position: -6532px -14px;
  width: 61px;
  height: 45px;
}
.pkm-delta.pkm-delta-chinchou {
  background-position: -6603px -18px;
  width: 41px;
  height: 45px;
}
.pkm-delta.pkm-delta-noctowl {
  background-position: -6662px -11px;
  width: 45px;
  height: 51px;
}
.pkm-delta.pkm-delta-hoothoot {
  background-position: -6734px -23px;
  width: 35px;
  height: 37px;
}
.pkm-delta.pkm-delta-dragonite {
  background-position: -6786px -13px;
  width: 63px;
  height: 47px;
}
.pkm-delta.pkm-delta-dragonair {
  background-position: -6924px -19px;
  width: 49px;
  height: 39px;
}
.pkm-delta.pkm-delta-dratini {
  background-position: -6850px -13px;
  width: 53px;
  height: 47px;
}
.pkm-delta.pkm-delta-kabutops {
  background-position: -6990px -15px;
  width: 41px;
  height: 45px;
}
.pkm-delta.pkm-delta-kabuto {
  background-position: -7050px -27px;
  width: 43px;
  height: 27px;
}
.pkm-delta.pkm-delta-ditto {
  background-position: -7120px -26px;
  width: 31px;
  height: 29px;
}
.pkm-delta.pkm-delta-tangrowth {
  background-position: -7170px -13px;
  width: 61px;
  height: 45px;
}
.pkm-delta.pkm-delta-tangela {
  background-position: -7242px -19px;
  width: 45px;
  height: 39px;
}
.pkm-delta.pkm-delta-dodrio {
  background-position: -7298px -7px;
  width: 55px;
  height: 53px;
}
.pkm-delta.pkm-delta-doduo {
  background-position: -7368px -19px;
  width: 45px;
  height: 39px;
}
.pkm-delta.pkm-delta-tentacruel {
  background-position: -7426px -15px;
  width: 57px;
  height: 45px;
}
.pkm-delta.pkm-delta-tentacool {
  background-position: -7494px -15px;
  width: 53px;
  height: 47px;
}
.pkm-delta.pkm-delta-golem {
  background-position: -7552px -8px;
  width: 65px;
  height: 51px;
}
.pkm-delta.pkm-delta-graveler {
  background-position: -7622px -4px;
  width: 55px;
  height: 57px;
}
.pkm-delta.pkm-delta-geodude {
  background-position: -7688px -26px;
  width: 51px;
  height: 29px;
}
.pkm-delta.pkm-delta-arcanine {
  background-position: -7744px -8px;
  width: 65px;
  height: 51px;
}
.pkm-delta.pkm-delta-growlithe {
  background-position: -7822px -22px;
  width: 37px;
  height: 35px;
}
.pkm-delta.pkm-delta-dugtrio {
  background-position: -7882px -12px;
  width: 45px;
  height: 47px;
}
.pkm-delta.pkm-delta-diglett {
  background-position: -7953px -22px;
  width: 31px;
  height: 31px;
}
.pkm-delta.pkm-delta-pidgeot {
  background-position: -8008px -1px;
  width: 51px;
  height: 61px;
}
.pkm-delta.pkm-delta-pidgeotto {
  background-position: -8076px -9px;
  width: 47px;
  height: 49px;
}
.pkm-delta.pkm-delta-pidgey {
  background-position: -8142px -19px;
  width: 39px;
  height: 39px;
}
.pkm-delta.pkm-delta-greninja {
  background-position: -8196px -7px;
  width: 57px;
  height: 47px;
}
.pkm-delta.pkm-delta-frogadier {
  background-position: -8265px -11px;
  width: 37px;
  height: 43px;
}
.pkm-delta.pkm-delta-froakie {
  background-position: -8334px -14px;
  width: 37px;
  height: 37px;
}
.pkm-delta.pkm-delta-serperior {
  background-position: -8390px -15px;
  width: 55px;
  height: 45px;
}
.pkm-delta.pkm-delta-servine {
  background-position: -8524px -19px;
  width: 41px;
  height: 39px;
}
.pkm-delta.pkm-delta-snivy {
  background-position: -8458px -19px;
  width: 47px;
  height: 41px;
}
.pkm-delta.pkm-delta-torterra {
  background-position: -8576px -9px;
  width: 63px;
  height: 49px;
}
.pkm-delta.pkm-delta-grotle {
  background-position: -8644px -23px;
  width: 59px;
  height: 37px;
}
.pkm-delta.pkm-delta-turtwig {
  background-position: -8720px -25px;
  width: 37px;
  height: 29px;
}
.pkm-delta.pkm-delta-blaziken {
  background-position: -8768px -4px;
  width: 61px;
  height: 57px;
}
.pkm-delta.pkm-delta-combusken {
  background-position: -8842px -11px;
  width: 45px;
  height: 49px;
}
.pkm-delta.pkm-delta-torchic {
  background-position: -8914px -29px;
  width: 31px;
  height: 31px;
}
.pkm-delta.pkm-delta-sceptile {
  background-position: -8973px -14px;
  width: 31px;
  height: 45px;
}
.pkm-delta.pkm-delta-grovyle {
  background-position: -9034px -17px;
  width: 35px;
  height: 43px;
}
.pkm-delta.pkm-delta-treecko {
  background-position: -9102px -19px;
  width: 35px;
  height: 41px;
}
.pkm-delta.pkm-delta-typhlosion {
  background-position: -9162px -8px;
  width: 49px;
  height: 53px;
}
.pkm-delta.pkm-delta-quilava {
  background-position: -9226px -24px;
  width: 39px;
  height: 35px;
}
.pkm-delta.pkm-delta-cyndaquil {
  background-position: -9292px -18px;
  width: 45px;
  height: 41px;
}
.pkm-delta.pkm-delta-mismagius {
  background-position: -9356px -0px;
  width: 39px;
  height: 55px;
}
.pkm-delta.pkm-delta-misdreavus {
  background-position: -9424px -16px;
  width: 35px;
  height: 41px;
}
.pkm-delta.pkm-delta-snorlax {
  background-position: -9478px -10px;
  width: 57px;
  height: 49px;
}
.pkm-delta.pkm-delta-munchlax {
  background-position: -9552px -18px;
  width: 37px;
  height: 39px;
}
.pkm-delta.pkm-delta-quagsire {
  background-position: -9610px -7px;
  width: 41px;
  height: 53px;
}
.pkm-delta.pkm-delta-wooper {
  background-position: -9684px -21px;
  width: 29px;
  height: 37px;
}
.pkm-delta.pkm-delta-muk {
  background-position: -9734px -9px;
  width: 53px;
  height: 51px;
}
.pkm-delta.pkm-delta-grimer {
  background-position: -9802px -19px;
  width: 43px;
  height: 37px;
}
.pkm-delta.pkm-delta-drifblim {
  background-position: -9872px -3px;
  width: 35px;
  height: 57px;
}
.pkm-delta.pkm-delta-drifloon {
  background-position: -9940px -8px;
  width: 31px;
  height: 51px;
}
.pkm-delta.pkm-delta-roserade {
  background-position: -10002px -18px;
  width: 35px;
  height: 43px;
}
.pkm-delta.pkm-delta-roselia {
  background-position: -10060px -16px;
  width: 41px;
  height: 45px;
}
.pkm-delta.pkm-delta-budew {
  background-position: -10132px -32px;
  width: 29px;
  height: 27px;
}
.pkm-delta.pkm-delta-noivern {
  background-position: -10180px -9px;
  width: 57px;
  height: 49px;
}
.pkm-delta.pkm-delta-noibat {
  background-position: -10252px -12px;
  width: 43px;
  height: 41px;
}
.pkm-delta.pkm-delta-luxray {
  background-position: -10304px -16px;
  width: 61px;
  height: 43px;
}
.pkm-delta.pkm-delta-luxio {
  background-position: -10370px -18px;
  width: 57px;
  height: 41px;
}
.pkm-delta.pkm-delta-shinx {
  background-position: -10440px -18px;
  width: 43px;
  height: 41px;
}
.pkm-delta.pkm-delta-froslass {
  background-position: -10512px -16px;
  width: 35px;
  height: 45px;
}
.pkm-delta.pkm-delta-glalie {
  background-position: -10573px -20px;
  width: 41px;
  height: 43px;
}
.pkm-delta.pkm-delta-snorunt {
  background-position: -10640px -24px;
  width: 31px;
  height: 31px;
}
.pkm-delta.pkm-delta-trevenant {
  background-position: -10690px -4px;
  width: 57px;
  height: 55px;
}
.pkm-delta.pkm-delta-phantump {
  background-position: -10760px -20px;
  width: 49px;
  height: 41px;
}
.pkm-delta.pkm-delta-liepard {
  background-position: -10822px -12px;
  width: 55px;
  height: 47px;
}
.pkm-delta.pkm-delta-purrloin {
  background-position: -10892px -12px;
  width: 45px;
  height: 47px;
}
.pkm-delta.pkm-delta-weezing {
  background-position: -10954px -10px;
  width: 49px;
  height: 41px;
}
.pkm-delta.pkm-delta-koffing {
  background-position: -11018px -12px;
  width: 43px;
  height: 39px;
}
.pkm-delta.pkm-delta-vespiquen {
  background-position: -11076px -12px;
  width: 61px;
  height: 47px;
}
.pkm-delta.pkm-delta-combee {
  background-position: -11142px -14px;
  width: 49px;
  height: 41px;
}
.pkm-delta.pkm-delta-scrafty {
  background-position: -11212px -17px;
  width: 41px;
  height: 43px;
}
.pkm-delta.pkm-delta-scraggy {
  background-position: -11282px -25px;
  width: 31px;
  height: 33px;
}
.pkm-delta.pkm-delta-scizor {
  background-position: -11334px -10px;
  width: 53px;
  height: 49px;
}
.pkm-delta.pkm-delta-scyther {
  background-position: -11404px -20px;
  width: 39px;
  height: 39px;
}
.pkm-delta.pkm-delta-avalugg {
  background-position: -11460px -4px;
  width: 55px;
  height: 51px;
}
.pkm-delta.pkm-delta-bergmite {
  background-position: -11534px -12px;
  width: 35px;
  height: 37px;
}
.pkm-delta.pkm-delta-sunflora {
  background-position: -11598px -14px;
  width: 39px;
  height: 47px;
}
.pkm-delta.pkm-delta-sunkern {
  background-position: -11664px -18px;
  width: 33px;
  height: 43px;
}
.pkm-delta.pkm-delta-gallade {
  background-position: -11722px -2px;
  width: 45px;
  height: 57px;
}
.pkm-delta.pkm-delta-gardevoir {
  background-position: -11782px -8px;
  width: 53px;
  height: 51px;
}
.pkm-delta.pkm-delta-kirlia {
  background-position: -11854px -12px;
  width: 37px;
  height: 47px;
}
.pkm-delta.pkm-delta-ralts {
  background-position: -11922px -22px;
  width: 31px;
  height: 37px;
}
.pkm-delta.pkm-delta-bisharp {
  background-position: -11978px -10px;
  width: 45px;
  height: 49px;
}
.pkm-delta.pkm-delta-pawniard {
  background-position: -12048px -14px;
  width: 43px;
  height: 43px;
}
.pkm-delta.pkm-delta-blastoise {
  background-position: -12102px -12px;
  width: 53px;
  height: 49px;
}
.pkm-delta.pkm-delta-wartortle {
  background-position: -12170px -15px;
  width: 45px;
  height: 45px;
}
.pkm-delta.pkm-delta-squirtle {
  background-position: -12236px -22px;
  width: 45px;
  height: 35px;
}
.pkm-delta.pkm-delta-charizard {
  background-position: -12288px -4px;
  width: 65px;
  height: 55px;
}
.pkm-delta.pkm-delta-charmeleon {
  background-position: -12362px -14px;
  width: 45px;
  height: 47px;
}
.pkm-delta.pkm-delta-charmander {
  background-position: -12428px -19px;
  width: 43px;
  height: 39px;
}
.pkm-delta.pkm-delta-venusaur {
  background-position: -12482px -8px;
  width: 63px;
  height: 53px;
}
.pkm-delta.pkm-delta-ivysaur {
  background-position: -12556px -16px;
  width: 45px;
  height: 41px;
}
.pkm-delta.pkm-delta-bulbasaur {
  background-position: -12622px -16px;
  width: 41px;
  height: 41px;
}
