/* Radical Red sevii pokemon */
.pkm.pkm-blitzle-sevii {
  background-position: -885px -643px;
  width: 18px;
  height: 23px;
}
.pkm.pkm-zebstrika-sevii {
  background-position: -920px -642px;
  width: 28px;
  height: 24px;
}
.pkm.pkm-doduo-sevii {
  background-position: -962px -643px;
  width: 24px;
  height: 23px;
}
.pkm.pkm-dodrio-sevii {
  background-position: -998px -639px;
  width: 32px;
  height: 27px;
}
.pkm.pkm-teddiursa-sevii {
  background-position: -1037px -645px;
  width: 26px;
  height: 21px;
}
.pkm.pkm-ursaring-sevii {
  background-position: -1082px -642px;
  width: 22px;
  height: 24px;
}
.pkm.pkm-carnivine-sevii {
  background-position: -1119px -642px;
  width: 28px;
  height: 24px;
}
.pkm.pkm-clawitzer-sevii {
  background-position: -878px -674px;
  width: 30px;
  height: 24px;
}
.pkm.pkm-sizzlipede-sevii {
  background-position: -922px -674px;
  width: 25px;
  height: 14px;
}
.pkm.pkm-centiskorch-sevii {
  background-position: -957px -668px;
  width: 32px;
  height: 30px;
}
.pkm.pkm-centiskorch-sevii-mega {
  background-position: -998px -668px;
  width: 31px;
  height: 29px;
}
.pkm.pkm-wishiwashi-sevii {
  background-position: -1043px -676px;
  width: 25px;
  height: 19px;
}
.pkm.pkm-dhelmise-sevii {
  background-position: -1121px -670px;
  width: 26px;
  height: 26px;
}
.pkm.pkm-wishiwashi-sevii-school {
  background-position: -1079px -677px;
  width: 30px;
  height: 17px;
}
.pkm.pkm-mantyke-sevii {
  background-position: -881px -707px;
  width: 22px;
  height: 18px;
}
.pkm.pkm-mantine-sevii {
  background-position: -916px -702px;
  width: 31px;
  height: 24px;
}
.pkm.pkm-feebas-sevii {
  background-position: -964px -707px;
  width: 17px;
  height: 21px;
}
.pkm.pkm-milotic-sevii {
  background-position: -1000px -703px;
  width: 28px;
  height: 24px;
}
.pkm.pkm-clauncher-sevii {
  background-position: -1039px -708px;
  width: 25px;
  height: 18px;
}
