/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

[data-tooltip] {
  font-weight: normal !important;
  position: relative;
  z-index: 2;
  display: block;
  cursor: pointer;
}

[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: .2s ease-out;
  transform: translate(-50%, 5px)
}

[data-tooltip]:before {
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-bottom: 5px;
  padding: 7px;
  width: 100%;
  min-width: 160px;
  max-width: 350px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
  transition: .2s ease-out
}

[data-tooltip]:after {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, 0)
}
[data-tooltip=false]:hover:before,
[data-tooltip=false]:hover:after {
  visibility: hidden;
  opacity: 0;
}

.ac__dropdown-container {
  padding: 0 !important;
  border: 2px solid theme('colors.gray.200') !important;
}

.ac__dropdown-container .autocomplete-list-item {
  transition: background-color 0.2s ease, color 0.2s ease;
}

.autocomplete-list-item.selected {
  background-color: theme('colors.indigo.300') !important;
  color: theme('colors.gray.800') !important;
}

.autocomplete-list-item.confirmed {
  background-color: theme('colors.indigo.500') !important;
  color: white !important;
}

.ac__input-container {
  margin-top: -1px !important;
  min-width: 0 !important;
  padding: calc(0.5rem + 1px) 0.75rem !important;
}

.has-item .ac__input-container {
  padding-left: 68px !important;
}
