/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* .ac__dropdown-container { */
/*   width: calc(200% + theme('spacing.2')) !important; */
/* } */

.pkm { background-image: url(/assets/pokemon.webp) !important; }
.pkitem { background-image: url(/assets/items.webp) !important; }
.pkb {
  background-image: url('/assets/badges.webp') !important;
  display: inline-block;
  vertical-align: middle;
  image-rendering: pixelated;
}

.pkm-wrapper {
  width: 67px;
  height: 56px;
  line-height: 54px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  padding: 1px;
}

.pkm {
  display: inline-block;
  vertical-align: middle;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.pkitem-wrapper {
  width: 32px;
  height: 30px;
  line-height: 28px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  padding: 1px;
}

.pkitem {
  display: inline-block;
  vertical-align: middle;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
}

.pkitem-poke-ball {
  width: 18px;
  height: 18px;
  background-position: -566px -272px;
}
.pkitem-dawn-stone {
  width: 18px;
  height: 19px;
  background-position: -484px -222px;
}

@keyframes full-pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .2;
  }
}

@keyframes helix {
  0% { width: 5px; height: 5px; bottom: -5px; z-index: 10 }
  25% { width: 2px; height: 2px }
  50% { width: 5px; height: 5px; bottom: 100%; z-index: 20 }
  75% { width: 8px; height: 8px }
  100% { width: 5px; height: 5px; bottom: -5px }
}

@keyframes helix-reversed {
  0% { width: 5px; height: 5px; bottom: 100%; z-index: 20 }
  25% { width: 8px; height: 8px }
  50% { width: 5px; height: 5px; bottom: -5px; z-index: 10 }
  75% { width: 2px; height: 2px }
  100% { width: 5px; height: 5px; bottom: 100% }
}

body {
  @apply bg-transparent transition-colors dark:text-gray-200 dark:bg-gray-800 relative min-h-screen;
}

:global(.dark) body {
  @apply text-gray-200 bg-gray-800 ;
}

.p-container {
  @apply w-full sm:w-2/3 md:w-3/4 sm:px-4 md:px-8 mx-auto flex justify-between;
}

.window { width: 100% !important; margin: 1rem 0 !important; }
.window-wrap { margin: 0 1rem !important; }

@media (min-width:theme('screens.sm')) {
  .window { width: fit-content !important; margin: 2rem auto !important; }
  .window-wrap { margin: 0 2rem !important; }
}

.bg + main { filter: blur(5px); }

.drop-shadow-highlight {
  filter: drop-shadow(1px 1px 0 theme('colors.yellow.500'))
          drop-shadow(-1px -1px 0 theme('colors.yellow.500'))
          drop-shadow(-1px 1px 0 theme('colors.yellow.500'))
          drop-shadow(1px -1px 0 theme('colors.yellow.500')) !important;
}

.shake {
  animation: shake 3.2s cubic-bezier(.36,.07,.19,.97) infinite;
}

@keyframes shake {
  0%, 50% { transform: var(--tw-transform) rotate(0);}
  5%, 45% { transform: var(--tw-transform) rotate(-2deg);}
  10%, 40% { transform: var(--tw-transform) rotate(2deg);}
  15%, 25%, 35% { transform: var(--tw-transform) rotate(-5deg);}
  20%, 30% { transform: var(--tw-transform) rotate(5deg);}
}
